/* Classi univoche per tutto il codice/ elementi riutilizzabili */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Roboto', sans-serif;
  color: #33475b;
  min-width: 1200px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.stretch{
  margin: 0 15%;
}

a{
  text-decoration: none;
  color: #33475b;
}

a:hover{
  color:#ff5c38;
}

.btn-orange{
  background-color:#ff5c38;
  color: white;
  display: inline-block;
  border-radius: 5px;
}

.shadowborder{
  box-shadow:0 0 8px #b3b1b1;
}


/* HEADER */

/* menu fixed */

#fixed-menu{
  background-color: #f4f9fd;
  height: 70px;
  position: fixed;
  line-height: 70px;
  border-bottom: grey 2px solid;
  width: 100%;
  font-size: 0.9em;
  z-index: 999;
}

.menu-lft{
  float: left;
  font-size: 1em;
}
.menu-left1{
  display: inline-block;
  }

.menu-left1 i:last-child{
  padding-right: 15px;
  border-right: 2px #33475b solid;
}

.menu-left2{
  display: inline-block;
  padding-left: 10px;
}

.menu-rgt{
  float: right;
               
}

.menu-rgt i{
  color: #0ca8c0;
}

.menu-rgt .fas:hover{
  color:#ff5c38;
}

.btn-white{
  background-color: white;
  display: inline-block;
  padding: 0 8px;
  margin: 0 15px;
  border: 1px solid #ff5c38;
  border-radius: 5px;
  margin-top: 15px;
}

a .btn-white{
  color: #ff5c38;
  line-height: 40px;
}

.menu-rgt .btn-orange{
  padding: 0 8px;
  margin-left: 15px;
}

.menu-rgt a .btn-orange{
  line-height: 40px;
}

a:hover .btn-white,
a:hover .btn-orange{
  color: #33475b;
}

/*/menu fixed */

/* nav */

nav{
  padding-top: 85px;
  margin-bottom: 40px;
}

.mainlogo img{
  float: left;
  margin-left: 2px;
}


nav ul a{
  list-style: none;
  float: right;
  margin-left: 15px;
  padding-top: 8px;
 
}

/* /nav */

/* jumbotron */
.jumbotron{
  
  background-image: url(/Assets/img/jumbotron.png);
  background-size: cover;
  height: 900px;  
}

.jumbotron h1{
  font-size: 3em;
  width: 90%;
}

.jumbo-box{
  width: 50%;
  padding-top: 50px;
}

.jumbo-box h3{
  width: 75%;
  font-size: 0.9em;
  margin-top: 30px;
  line-height: 25px;
}

.jumbo-box .btn-orange{
  padding: 20px 30px;
  margin-top: 30px;
}

.jumbo-box h5{
  margin-top: 30px;
  font-size: 0.8em;
  margin-bottom: 300px;
}

.container-strip{
  position: relative;
}

.green-strip{
  position: absolute;
  top: 109px;
  bottom: 0%;
  background-color:#afebe4 ;
  border-top: 4px #33475b solid;
  border-bottom: 4px #33475b solid;
  height: 130px;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
}

/* MAIN */
main{
  background-color: #f4f9fd;
}

.cube-box{
  text-align: center;
  margin: 0 15%;
}

.cube-box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding-top: 50px;
  width: 30%;
}

.cube-box h2{
  padding-top: 10px;
}

.cube-box p{
  padding-top: 30px;
  padding-bottom: 50px;
  font-size: 0.9em; 
}

.book-container{
  width: 100%;
  height: 350px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.book-container-lft{
  width: 40%;
  float: left;
 
  
}

.book-container-lft img{
  width:70%;
  display: block;
  padding-left: 30%;
  padding-top: 20%;
}

.book-container-lft .btn-orange{
  padding: 15px 20px;
  margin-top: 6%;
  margin-left: 40%;
  margin-bottom: 35px;
  font-size: 0.8em;

}

.book-container-rgt{
  width: 60%;
  float: right;
  margin-top: 80px;
}

.book-container-rgt p{
  padding-top: 20px;
  font-size: 0.9em;
  width: 70%;
  line-height: 25px;
}

.popfeature{
  position: relative;
  width: 100%;
  text-transform: uppercase;
  margin-top: 30px;
}

#line{
  position: absolute;
  top: 50%;
  width: 60%;
  height: 1px;
  border: 1px solid grey;
  background-color: grey;
  display: inline-block;
  margin-left: 5%; 
}

.book-container-rgt ul li{
  display: inline-block;
  margin-top: 40px;
  margin-right: 20px; 
}

.book-container-rgt ul li i{
  color: #ff5c38;
  margin-right: 5px;
  
}

/* sezione 3 colonne */
.colonna{  
  width: 28%;
  margin-top: 40px;
  background-color: white;
  float: left;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  min-width: 110px;
}

.colcenter{
  margin: 40px 8% 0;
}

.bolla{
  width: 39%;
}

.office{
  width: 48%;
}

.tavola{
  width: 35%;
}

.colonna p{
  margin: 30px 30px 60px;
  width: 85%;
  
}


.centerline{
  width: 90%;
  height: 1px;
  border: 1px solid grey;
  background-color: grey;
  margin-left: 5%; 
  margin-bottom: 20px;

}

.colonna h4{
  margin: 30px 0 30px;
}

.colonna ul li{
  list-style: none;
  text-align: left;
  
}

.colonna ul li i{
  margin-right: 10px;
  margin-left: 15px;
  color: #ff5c38;
  text-align: left;
}

.colonna .btn-orange{
  padding: 15px 20px;
  margin:20px 0 40px;
}

.gradient{
  width: 100%;
  height: 500px;
  background-image: linear-gradient(top right, #FFFFFF 0%, #AACFEF 100%);
  text-align: center;
  
}